.header{
    width: 100%;
    padding-top: 40px;
    text-align: center;
    .title{
        font-family: Inter;
        font-weight: bolder;
        margin: 5px 0;
    }
    .description{
        color: grey;
        font-family: Inter;
        font-weight: bolder;
        margin: 10px 0 20px;
        font-size: smaller;
    }
}
.body{
    padding: 0 20%;
    .cards{
        padding-top: 5px;
        display: flex;
        cursor: pointer ;
        .myself{
            margin: 0 5px 0 0;
            width: 49%;
        }
        .myselfActive{
            border: solid 2px #5A4AD1;
            margin: 0 5px 0 0;
            width: 49%;
        }
        .team{
            margin: 0 0 0 5px;
            width: 49%;
        }
        .teamActive{
            border: solid 2px #5A4AD1;
            margin: 0 0 0 5px;
            width: 49%;
        }
    }
    .submit{
        padding-top: 20px;
    }
    @media only screen and (max-width: 768px) {
        padding: 0 10%;
    }
}